/* Container for the product details */
.f {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the product image */
.product-image {
  flex: 1;
  max-width: 40%;
  padding: 20px;
}

.product-image img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* Styling for the product info */
.product-info {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.product-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #333;
}

.product-info .price {
  font-size: 30px;
  color: #e91e63;
  margin-bottom: 20px;
}

.product-info .description {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

.product-info .quantity {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

/* Styling for the button */
.product-info button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-info button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.product-info button:not(:disabled):hover {
  background-color: #0056b3;
}
